.navbar {
    background-color: rgb(27, 27, 27);
}

.container {
    border-radius: 2rem;
    /* background-color: rgb(245, 151, 114); */
}

.heading {
    font-weight: bolder;
    font-size: 5rem;
}

hr {
    color: black;
    border: 0.1rem solid black;
    size: 1rem;
}
